<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.sys.modular.system.mapper.BackPartnerDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.sys.modular.system.entity.BackPartnerDetail">
        <id column="id" property="id" />
        <result column="back_order_no" property="backOrderNo" />
        <result column="sku_code" property="skuCode" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_model" property="goodsModel" />
        <result column="unit_name" property="unitName" />
        <result column="plan_num" property="planNum" />
        <result column="reality_num" property="realityNum" />
        <result column="tax_rate" property="taxRate" />
        <result column="tax_price" property="taxPrice" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="yn" property="yn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", back_order_no AS "backOrderNo", sku_code AS "skuCode", goods_name AS "goodsName", goods_model AS "goodsModel", unit_name AS "unitName", plan_num AS "planNum", reality_num AS "realityNum", tax_rate AS "taxRate", tax_price AS "taxPrice", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime", yn AS "yn"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.BackPartnerDetailResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.BackPartnerDetailParam">
        select
        <include refid="Base_Column_List"/>
        from back_partner_detail where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.BackPartnerDetailParam">
        select
        <include refid="Base_Column_List"/>
        from back_partner_detail where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.BackPartnerDetailResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.BackPartnerDetailParam">
        select
        <include refid="Base_Column_List"/>
        from back_partner_detail where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.BackPartnerDetailParam">
        select
        <include refid="Base_Column_List"/>
        from back_partner_detail where 1 = 1
    </select>

</mapper>
