<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.sys.modular.system.mapper.CodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.sys.modular.system.entity.Code">
        <id column="id" property="id" />
        <result column="object_type" property="objectType" />
        <result column="first_id" property="firstId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", object_type AS "objectType", first_id AS "firstId", update_time AS "updateTime"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.CodeResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.CodeParam">
        select
        <include refid="Base_Column_List"/>
        from code where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.CodeParam">
        select
        <include refid="Base_Column_List"/>
        from code where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.CodeResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.CodeParam">
        select
        <include refid="Base_Column_List"/>
        from code where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.CodeParam">
        select
        <include refid="Base_Column_List"/>
        from code where 1 = 1
    </select>

    <update id="updateFirstId" parameterType="map">
    update code
    set first_id = first_id + #{count,jdbcType=INTEGER}, update_time= now()
    where object_type = #{name, jdbcType=VARCHAR}
  </update>

    <insert id="insertFirstId" parameterType="map">
    insert into	code (object_type, first_id, update_time)
    values (#{name, jdbcType=VARCHAR}, #{firstId, jdbcType=INTEGER}, now())
  </insert>

    <select id="queryFirstId" resultType="Long" parameterType="map">
    select first_id from code
    where object_type = #{name, jdbcType=VARCHAR}
  </select>

</mapper>
