<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.sys.modular.system.mapper.CustomerBackOrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.sys.modular.system.entity.CustomerBackOrderDetail">
        <id column="id" property="id" />
        <result column="customer_back_order_no" property="customerBackOrderNo" />
        <result column="sku_code" property="skuCode" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_model" property="goodsModel" />
        <result column="unit_name" property="unitName" />
        <result column="plan_num" property="planNum" />
        <result column="reality_num" property="realityNum" />
        <result column="tax_rate" property="taxRate" />
        <result column="tax_price" property="taxPrice" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="yn" property="yn" />
    </resultMap>

    <resultMap id="DetailResultMap" type="cn.stylefeng.guns.sys.modular.system.model.result.CustomerBackOrderDetailResult">
        <id column="id" property="id" />
        <result column="customer_back_order_no" property="customerBackOrderNo" />
        <result column="sku_code" property="skuCode" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_model" property="goodsModel" />
        <result column="unit_name" property="unitName" />
        <result column="plan_num" property="planNum" />
        <result column="reality_num" property="realityNum" />
        <result column="tax_rate" property="taxRate" />
        <result column="tax_price" property="taxPrice" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="yn" property="yn" />
        <result column="customer_back_order_no" property="customerBackOrderNo" />

        <result column="warehouse_name" property="warehouseName" />
        <result column="order_no" property="orderNo" />

        <result column="receiver_name" property="receiverName" />
        <result column="address" property="address" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", customer_back_order_no AS "customerBackOrderNo", sku_code AS "skuCode", goods_name AS "goodsName", goods_model AS "goodsModel", unit_name AS "unitName", plan_num AS "planNum", reality_num AS "realityNum", tax_rate AS "taxRate", tax_price AS "taxPrice", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime", yn AS "yn"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.CustomerBackOrderDetailResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.CustomerBackOrderDetailParam">
        select
        <include refid="Base_Column_List"/>
        from customer_back_order_detail where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.CustomerBackOrderDetailParam">
        select
        <include refid="Base_Column_List"/>
        from customer_back_order_detail where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.CustomerBackOrderDetailResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.CustomerBackOrderDetailParam">
        select
        <include refid="Base_Column_List"/>
        from customer_back_order_detail where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.CustomerBackOrderDetailParam">
        select
        <include refid="Base_Column_List"/>
        from customer_back_order_detail where 1 = 1
    </select>

    <select id="selectPageList" resultMap="DetailResultMap"
            parameterType="cn.stylefeng.guns.sys.modular.system.model.params.CustomerBackOrderDetailParam">


SELECT cbdd.*,cbd.warehouse_name,cbd.order_no,cbd.address,cbd.receiver_name FROM customer_back_order_detail  cbdd INNER JOIN customer_back_order cbd
ON cbdd.customer_back_order_no=cbd.customer_back_order_no
WHERE cbdd.yn=1 AND cbd.yn=1

        <if test="paramCondition.customerBackOrderNo!= null and paramCondition.customerBackOrderNo!=''">
            and  cbd.customer_back_order_no = #{paramCondition.customerBackOrderNo,jdbcType=VARCHAR}
        </if>
        <if test="paramCondition.goodsName!= null and paramCondition.goodsName!=''">
            and
            ( cbdd.sku_code = #{paramCondition.goodsName,jdbcType=VARCHAR} or cbdd.goods_name like concat(concat('%',#{paramCondition.goodsName}),'%') )
        </if>

    </select>


    <update id="updateRealityNum" parameterType="cn.stylefeng.guns.sys.modular.system.entity.CustomerBackOrderDetail">

UPDATE customer_back_order_detail
 SET
  reality_num=reality_num+#{realityNum,jdbcType=DECIMAL},
  update_user = #{updateUser,jdbcType=VARCHAR},
  update_time=NOW() WHERE id=#{id,jdbcType=BIGINT}

     </update>

</mapper>
