<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.sys.modular.system.mapper.CustomerBackOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.sys.modular.system.entity.CustomerBackOrder">
        <id column="id" property="id" />
        <result column="customer_back_order_no" property="customerBackOrderNo" />
        <result column="warehouse_code" property="warehouseCode" />
        <result column="warehouse_name" property="warehouseName" />
        <result column="order_no" property="orderNo" />
        <result column="order_state" property="orderState" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_phone" property="receiverPhone" />
        <result column="address" property="address" />
        <result column="audit_user" property="auditUser" />
        <result column="audit_time" property="auditTime" />
        <result column="cancel_user" property="cancelUser" />
        <result column="cancel_time" property="cancelTime" />
        <result column="finish_time" property="finishTime" />
        <result column="finish_user" property="finishUser" />
        <result column="remark" property="remark" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="yn" property="yn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", customer_back_order_no AS "customerBackOrderNo", warehouse_code AS "warehouseCode", warehouse_name AS "warehouseName", order_no AS "orderNo", order_state AS "orderState", receiver_name AS "receiverName", receiver_phone AS "receiverPhone", address AS "address", audit_user AS "auditUser", audit_time AS "auditTime", cancel_user AS "cancelUser", cancel_time AS "cancelTime", finish_time AS "finishTime", finish_user AS "finishUser", remark AS "remark", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime", yn AS "yn"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.CustomerBackOrderResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.CustomerBackOrderParam">
        select
        <include refid="Base_Column_List"/>
        from customer_back_order where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.CustomerBackOrderParam">
        select
        <include refid="Base_Column_List"/>
        from customer_back_order where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.CustomerBackOrderResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.CustomerBackOrderParam">
        select
        <include refid="Base_Column_List"/>
        from customer_back_order where 1 = 1

        <if test="paramCondition.customerBackOrderNo!= null and paramCondition.customerBackOrderNo!=''">
            and
            customer_back_order_no = #{paramCondition.customerBackOrderNo,jdbcType=VARCHAR}
        </if>


        <if test="paramCondition.receiverName!= null and paramCondition.receiverName!=''">
            and
            (  receiver_name like concat(concat('%',#{paramCondition.receiverName}),'%') )
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.CustomerBackOrderParam">
        select
        <include refid="Base_Column_List"/>
        from customer_back_order where 1 = 1
    </select>

</mapper>
