<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.sys.modular.system.mapper.PartnerGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.sys.modular.system.entity.PartnerGoods">
        <id column="id" property="id" />
        <result column="partner_code" property="partnerCode" />
        <result column="sku_code" property="skuCode" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="yn" property="yn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", partner_code AS "partnerCode", sku_code AS "skuCode", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime", yn AS "yn"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.PartnerGoodsResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.PartnerGoodsParam">
        select
        <include refid="Base_Column_List"/>
        from partner_goods
        where <include refid="sqlWhere"/>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.PartnerGoodsParam">
        select
        <include refid="Base_Column_List"/>
        from partner_goods where  yn=1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.PartnerGoodsResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.PartnerGoodsParam">
      SELECT p.partner_code,p.partner_name,
      pg.id,
      g.sku_code,g.goods_name,g.category_name,g.two_category_name,
g.goods_model,g.unit_name
 FROM partner_goods pg INNER JOIN  partner p
ON pg.partner_code=p.partner_code
INNER JOIN  goods g ON g.sku_code=pg.sku_code
WHERE pg.yn=1 AND p.yn=1 AND  g.yn=1
        <if test="paramCondition.goodsName!= null and paramCondition.goodsName!=''">
            and
            ( g.sku_code = #{paramCondition.goodsName,jdbcType=VARCHAR} or g.goods_name like concat(concat('%',#{paramCondition.goodsName}),'%') )
        </if>
        <if test="paramCondition.partnerCode!= null and paramCondition.partnerCode!=''" >
            and
            ( p.partner_code = #{paramCondition.partnerCode,jdbcType=VARCHAR}  )
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.PartnerGoodsParam">
        select
        <include refid="Base_Column_List"/>
        from partner_goods where  yn=1
    </select>


    <sql id="sqlWhere">
        yn=1
        <if test="paramCondition.partnerCode!= null">
               and  partner_code = #{paramCondition.partnerCode,jdbcType=VARCHAR}
            </if>

        <if test="paramCondition.skuCode!= null">
            and  sku_code = #{paramCondition.skuCode,jdbcType=VARCHAR}
        </if>
    </sql>

</mapper>
