<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.sys.modular.system.mapper.PmsOrderPurchaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.sys.modular.system.entity.PmsOrderPurchase">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="warehouse_code" property="warehouseCode" />
        <result column="warehouse_name" property="warehouseName" />
        <result column="partner_code" property="partnerCode" />
        <result column="partner_name" property="partnerName" />
        <result column="order_state" property="orderState" />
        <result column="arrival_date" property="arrivalDate" />
        <result column="remark" property="remark" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="yn" property="yn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", order_no AS "orderNo", warehouse_code AS "warehouseCode", warehouse_name AS "warehouseName", partner_code AS "partnerCode", partner_name AS "partnerName", order_state AS "orderState", arrival_date AS "arrivalDate", remark AS "remark", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime", yn AS "yn"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.PmsOrderPurchaseResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.PmsOrderPurchaseParam">
        select
        <include refid="Base_Column_List"/>
        from pms_order_purchase where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.PmsOrderPurchaseParam">
        select
        <include refid="Base_Column_List"/>
        from pms_order_purchase where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.PmsOrderPurchaseResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.PmsOrderPurchaseParam">
        select
        <include refid="Base_Column_List"/>
        from pms_order_purchase where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.PmsOrderPurchaseParam">
        select
        <include refid="Base_Column_List"/>
        from pms_order_purchase where 1 = 1
    </select>

    <update id="updateCancel" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.PmsOrderPurchaseParam">
    update pms_order_purchase
    set
    order_state=#{orderState,jdbcType=INTEGER},
     cancel_time =now(),
      cancel_user = #{cancelUser,jdbcType=VARCHAR},
            update_user = #{updateUser,jdbcType=VARCHAR},
      update_time =now()
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </update>

    <update id="updateAudit" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.PmsOrderPurchaseParam">
    update pms_order_purchase
    set
      order_state=#{orderState,jdbcType=INTEGER},
     audit_time =now(),
      audit_user = #{auditUser,jdbcType=VARCHAR},
            update_user = #{updateUser,jdbcType=VARCHAR},
      update_time =now()
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </update>

</mapper>
