<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.sys.modular.system.mapper.SaleOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.sys.modular.system.entity.SaleOrder">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="warehouse_code" property="warehouseCode" />
        <result column="warehouse_name" property="warehouseName" />
        <result column="order_state" property="orderState" />
        <result column="total_amount" property="totalAmount" />
        <result column="province_code" property="provinceCode" />
        <result column="province_name" property="provinceName" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="area_code" property="areaCode" />
        <result column="area_name" property="areaName" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_phone" property="receiverPhone" />
        <result column="address" property="address" />
        <result column="audit_user" property="auditUser" />
        <result column="audit_time" property="auditTime" />
        <result column="cancel_user" property="cancelUser" />
        <result column="cancel_time" property="cancelTime" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="delivery_user" property="deliveryUser" />
        <result column="delivery_date" property="deliveryDate" />
        <result column="remark" property="remark" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="yn" property="yn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", order_no AS "orderNo", warehouse_code AS "warehouseCode", warehouse_name AS "warehouseName", order_state AS "orderState", total_amount AS "totalAmount", province_code AS "provinceCode", province_name AS "provinceName", city_code AS "cityCode", city_name AS "cityName", area_code AS "areaCode", area_name AS "areaName", receiver_name AS "receiverName", receiver_phone AS "receiverPhone", address AS "address", audit_user AS "auditUser", audit_time AS "auditTime", cancel_user AS "cancelUser", cancel_time AS "cancelTime", delivery_time AS "deliveryTime", delivery_user AS "deliveryUser", delivery_date AS "deliveryDate", remark AS "remark", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime", yn AS "yn"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.SaleOrderResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.SaleOrderParam">
        select
        <include refid="Base_Column_List"/>
        from sale_order where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.SaleOrderParam">
        select
        <include refid="Base_Column_List"/>
        from sale_order where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.sys.modular.system.model.result.SaleOrderResult" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.SaleOrderParam">
        select
        <include refid="Base_Column_List"/>
        from sale_order where 1 = 1
        <if test="paramCondition.orderNo!= null and paramCondition.orderNo!=''">
            and
            order_no = #{paramCondition.orderNo,jdbcType=VARCHAR}
        </if>


        <if test="paramCondition.receiverName!= null and paramCondition.receiverName!=''">
            and
            (  receiver_name like concat(concat('%',#{paramCondition.receiverName}),'%') )
        </if>

    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.SaleOrderParam">
        select
        <include refid="Base_Column_List"/>
        from sale_order where 1 = 1
    </select>

    <update id="updateOutBound" parameterType="cn.stylefeng.guns.sys.modular.system.model.params.SaleOrderParam">
    update sale_order
    set
      order_state=#{orderState,jdbcType=INTEGER},
     delivery_time =now(),
      delivery_user = #{deliveryUser,jdbcType=VARCHAR},
            update_user = #{updateUser,jdbcType=VARCHAR},
      update_time =now()
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </update>

</mapper>
